<div class="container" fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center center">
  <h1 class="title">Twoje konto jest zablokowane</h1>
  <p class="description">
    Nie możesz korzsytać z aplikacji, ponieważ <strong>twoje konto jest zablokowane.</strong><br>
     Skontaktuj się ze z jednym z administratorów aplikacji.<br>
     Obecność jest wciąż sprawdzana
  </p>
  <div class="custom-button-wrapper">
    <button class="custom-button" (click)="this.logOut()">
      Wyloguj się
    </button>
  </div>
</div>
