.container {
  border-radius: 10px;
  border-top-left-radius: 0;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
  padding: 20px;
  width: auto;
  height: 740px;
  position: relative;

  .input-font {
    font-size: 18px;
  }

  form {
    position: absolute;
    top: 0;
    left: -264px;
    background-color: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px;

    box-shadow: -10px 4px 6px 0 rgba(0, 0, 0, 0.2), -9px 4px 10px 0 rgba(0, 0, 0, 0.19);
  }
  .canvas-container {
    width: 1400px;
    height: 600px;
    canvas {
      width: 1400px;
      height: auto;
    }
  }
}

