.container {
  margin-top: 20px;

  .details-container {
    background-color: white;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
    border-radius: 12px;
    height: 860px;
    width: 900px;
  }

  .logs-container {
    width: 650px;
    height: 860px;
    background-color: white;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
    border-radius: 12px;
  }
}
