<div class="container" fxLayout="column" fxLayoutGap="60px" fxLayoutAlign="center center">
  <img alt="logo" src="assets/logo.png">

  <div class="buttons" fxLayout="row" fxLayoutGap="30px" fxLayoutAlign="center center">
    <div class="custom-button-wrapper">
      <button class="custom-button" routerLink="/login">Logowanie</button>
    </div>

    <div class="custom-button-wrapper">
      <button class="custom-button" routerLink="/registration">Rejestracja</button>
    </div>
  </div>
</div>

