.canvas-container {
  width: 1400px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
  padding: 20px;

  canvas {
    width: auto;
    height: auto;
  }
}
